<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div id="main">
        <div id="addPost">
            <form>
                <lable>title</lable>
                <input type="text" id="title" name="title">
                <lable>Author</lable>
                <input type="text" id="author" name="author">
                <label>Description</label>
                <input type="text" id="description" name="description">
                <button type="submit" id="submit">post</button>
            </form>
            
        </div>
        <div id="getPosts">

        </div>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="../public/js/main.js"></script>
</body>
</html>